h1{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 60px;
}
h2{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 50px;
}
h3{
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 40px;
}

body{
  font-size: 16px;
  line-height: 26px;
}

blockquote{
  background-color: #ecf0f1;
  padding: 20px;
  border: 0;
  border-radius: 5px;
}
.jumbotron{
 background-image: url("images/jasmine-flat.jpg");
 background-size: cover;
 background-repeat: no-repeat;
}

